b ~ span > b {
    color: brown;
}
p span.warnung {
    color: blueviolet;
    background-color: aquamarine;
}

.warnung ~ b {
    color: green;
}

html head ~ body> p > b ~ #wichtig {
    color: red;
    font-size: 50px;
}