:root {
  --blau: #1f4e8c;
  --grau: #3d3f45;
  --standard-rahmen: 5px solid #a62c21;
  --primaere-schriftart: Arial;
  --sekundaere-schriftart: Verdana;
}

body {font-family: var(--primaere-schriftart, --sekundaere-schriftart, sans-serif);}

#div-1 {
    background-color: var(--blau);
    border: var(--standard-rahmen);
}
#div-2 {
    --rosa: #ffc0cb;
    background-color: var(--grau);
}

@media (max-width: 1024px) {
#div-1 {
    background-color: var(--grau);
    border: var(--standard-rahmen);
}
#div-2 {
    background-color: var(--rosa);
}
}