/* === Strukturelle Pseudoklassen === */

/* Wurzelelement auf höchster Ebene (html), jedoch spezifischer */
:root {
  font-size: 25px;
}

:empty {
  width: 100px;
  height: 100px;
  background-color: violet;
}

.container :first-child {
  font-weight: bolder;
}

.container :last-child {
  text-decoration: underline;
}

.container :nth-child(5) {
  color: blueviolet;
}
.container :nth-child(even) {
  background-color: grey;
}

.container :nth-child(odd) {
  background-color: rgb(230, 185, 126);
}

.container :nth-child(2n + 1) {
  text-decoration: line-through;
}
/* Beispiel: */
/* 2n+1 = 2*0+1 / 2*1+1 / 2*2+1 / 2*3+1 / 2*4+1 / .... */
/* Alle ungeraden -> 1 3 5 7 9 11 13 15 17 19 */

.container :nth-last-child(5) {
  color: red;
}
.container :nth-last-child(even) {
  width: 200px;
}
.container :nth-last-child(odd) {
  width: 400px;
}
.container :nth-last-child(3n + 1) {
  width: 800px;
}

body :only-child {
  border: 5px solid rgb(158, 88, 88);
}

.container :first-of-type {
  color: chocolate;
}
/* Hier in dem Fall -> 1. p und 1. div */

.container :last-of-type {
  color: rgb(173, 202, 255);
}
/* Hier in dem Fall _> letztes p und letztes div */

.container div:nth-of-type(3) {
  height: 50px;
}

.container div:nth-of-type(even) {
  height: 100px;
}

.container div:nth-of-type(odd) {
  height: 200px;
}

.container div:nth-of-type(3n + 1) {
  height: 400px;
}

.container div:nth-last-of-type(3) {
  text-align: right;
}

.container div:nth-last-of-type(even) {
  border: 2px solid black;
}

.container div:nth-last-of-type(odd) {
  border: 4px solid green;
}

.container div:nth-last-of-type(3n + 1) {
  text-align: center;
}

body :only-of-type {
    background-color: rgb(168, 86, 168);
}
